.App {
  text-align: center;
  font-family: Lato;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: indigo;
}

input {
  margin: 20px;
  font-size: 1rem;
  border-radius: 5px;
  width: 200px;
  height: 1.5rem;
}

button {
  width: 150px;
  height: 1.8rem;
  font-family: Lato;
  font-size: 1rem;
  background-color: indigo;
  border-radius: 5px;
  color: white;
  margin: 20px 0;
}

.form {
  border: 1px dotted indigo;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

select {
  font-size: 1rem;
}
